@import "syntax-variables";

atom-text-editor,atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter,atom-text-editor .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line,atom-text-editor .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection,atom-text-editor .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide,atom-text-editor .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide,atom-text-editor .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character,atom-text-editor .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .syntax--marker .region,atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region,atom-text-editor .search-results .syntax--marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor,atom-text-editor(.is-focused) .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region,atom-text-editor(.is-focused) .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line,atom-text-editor(.is-focused) .line-number.cursor-line-no-selection,atom-text-editor(.is-focused) .line.cursor-line {
  background-color: #00161B;
}

.syntax--comment, .syntax--comment.syntax--block.syntax--python .syntax--string.syntax--quoted {
  color: #406A80;
}

.syntax--constant {
  color: #FF3A83;
}

.syntax--entity {
   color: #FFDD33;
}

.syntax--storage {
  color: #F6F080;
}

.syntax--keyword {
  color: #FFA826;
}

.syntax--string {
  color: #4EE161;
}

.syntax--support {
  color: #9DF39F;
}

.syntax--variable {
  color: #FF7A9A;
}

.syntax--entity.syntax--other.syntax--inherited-class {
  color: #F6F080;
}

.syntax--string.syntax--quoted .syntax--source, .syntax--string .syntax--constant, .syntax--string .syntax--source.syntax--ruby.syntax--embedded {
  color: #9DF39F;
}

.syntax--string.syntax--regexp:not(.syntax--source.syntax--regexp) {
  color: #FFC266;
}

.syntax--string .syntax--variable {
  color: #F6F080;
}

.syntax--support.syntax--function {
  color: #FFC266;
}

.syntax--support.syntax--constant {
  color: #FF7A9A;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--name.syntax--tag, .syntax--source.syntax--less .syntax--entity.syntax--name.syntax--tag.syntax--css, .syntax--keyword.syntax--control.syntax--html.syntax--elements, .syntax--source.syntax--scss .syntax--entity.syntax--name.syntax--tag.syntax--scss {
  color: #9EFFFF;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--other.syntax--attribute-name.syntax--id, .syntax--source.syntax--less .syntax--entity.syntax--other.syntax--attribute-name.syntax--id.syntax--css, .syntax--source.syntax--scss .syntax--entity.syntax--other.syntax--attribute-name.syntax--id.syntax--css {
  color: #FFC266;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--other.syntax--attribute-name.syntax--class, .syntax--source.syntax--less .syntax--entity.syntax--other.syntax--attribute-name.syntax--class.syntax--css, .syntax--source.syntax--scss .syntax--entity.syntax--other.syntax--attribute-name.syntax--class.syntax--css {
  color: #F6F080;
}

.syntax--support.syntax--type.syntax--property-name.syntax--css {
  color: #9DF39F;
}

.syntax--keyword.syntax--control.syntax--at-rule.syntax--import.syntax--css {
  color: #F6F080;
}

.syntax--meta.syntax--property-value .syntax--support.syntax--constant.syntax--named-color.syntax--css, .syntax--meta.syntax--property-value .syntax--constant {
  color: #FF3A83;
}

.syntax--keyword.syntax--other.syntax--unit.syntax--css, .syntax--source.syntax--less .syntax--keyword.syntax--unit.syntax--css, .syntax--source.syntax--scss .syntax--keyword.syntax--other.syntax--unit.syntax--scss {
  color: #FF7A9A;
}

.syntax--keyword.syntax--other.syntax--important.syntax--css, .syntax--source.syntax--scss .syntax--keyword.syntax--other.syntax--important.syntax--scss {
  font-weight: bold;
  color: #FF3A83;
}

.syntax--meta.syntax--preprocessor.syntax--at-rule .syntax--keyword.syntax--control.syntax--at-rule {
  color: #FFA826;
}

.syntax--entity.syntax--other.syntax--less.syntax--mixin {
  color: #9DF39F;
}

.syntax--source.syntax--scss .syntax--entity.syntax--name.syntax--tag.syntax--reference.syntax--scss {
  color: #FFA826;
}

.syntax--source.syntax--less .syntax--variable.syntax--other.syntax--less, .syntax--source.syntax--less .syntax--variable.syntax--declaration.syntax--less, .syntax--source.syntax--scss .syntax--variable.syntax--scss {
  color: #CCB3FF;
}

.syntax--declaration.syntax--tag, .syntax--declaration.syntax--tag .syntax--entity, .syntax--meta.syntax--tag, .syntax--meta.syntax--tag .syntax--entity {
  color: rgba(158, 255, 255, 0.67);
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--id.syntax--html {
  color: #FF7A9A;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--html {
  color: #F6F080;
}

.syntax--punctuation.syntax--definition.syntax--tag.syntax--end, .syntax--punctuation.syntax--definition.syntax--tag.syntax--begin, .syntax--punctuation.syntax--definition.syntax--tag {
  color: rgba(101, 164, 164, 0.53);
}

.syntax--constant.syntax--character.syntax--entity.syntax--html {
  color: #F6F080;
}

.syntax--meta.syntax--function.syntax--method.syntax--with-arguments.syntax--ruby .syntax--variable.syntax--parameter.syntax--function.syntax--ruby {
  color: #F6F080;
}

.syntax--meta.syntax--function.syntax--method.syntax--with-arguments.syntax--ruby .syntax--variable.syntax--parameter.syntax--function.syntax--ruby .syntax--punctuation.syntax--separator.syntax--object.syntax--ruby {
  color: #F8F8F8;
}

.syntax--string.syntax--quoted.syntax--other .syntax--punctuation.syntax--definition {
  color: #9DF39F;
}

.syntax--source.syntax--ruby .syntax--constant.syntax--other.syntax--symbol {
  color: #CCB3FF;
}

.syntax--entity.syntax--name.syntax--type.syntax--class.syntax--ruby {
  color: #9DF39F;
}

.syntax--entity.syntax--name.syntax--type.syntax--module.syntax--ruby {
  color: #9DF39F;
}

.syntax--punctuation.syntax--separator.syntax--inheritance.syntax--ruby {
  color: #F8F8F8;
}

.syntax--variable.syntax--other.syntax--constant.syntax--ruby {
  color: #FF7A9A;
}

.syntax--variable.syntax--language.syntax--ruby, .syntax--keyword.syntax--other.syntax--special-method.syntax--ruby {
  color: #FFC266;
}

.syntax--variable.syntax--other.syntax--block.syntax--ruby {
  color: #F6F080;
}

.syntax--meta.syntax--class.syntax--ruby .syntax--entity.syntax--name.syntax--type.syntax--class.syntax--ruby .syntax--entity.syntax--other.syntax--inherited-class.syntax--ruby .syntax--punctuation.syntax--separator.syntax--inheritance.syntax--ruby {
  color: #FFA826;
}

.syntax--text.syntax--html.syntax--ruby .syntax--text.syntax--html.syntax--basic .syntax--source.syntax--ruby.syntax--rails.syntax--embedded.syntax--html .syntax--punctuation.syntax--section.syntax--embedded.syntax--ruby {
  color: rgba(255, 122, 154, 0.53);
}

.syntax--source.syntax--ruby.syntax--rspec .syntax--meta.syntax--rspec .syntax--string.syntax--quoted, .syntax--source.syntax--ruby.syntax--rspec .syntax--meta.syntax--rspec .syntax--string.syntax--ruby {
  color: #7FD4F5;
}

.syntax--keyword.syntax--other.syntax--rspec {
  color: #FFC266;
}

.syntax--keyword.syntax--other.syntax--rspec.syntax--behaviour, .syntax--keyword.syntax--other.syntax--rspec.syntax--example {
  color: #FFDD33;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--angular.syntax--html {
  color: #FF3A83;
}

.syntax--source.syntax--angular.syntax--embedded.syntax--html {
  color: #FFC266;
  background-color: #00161B;
}

.syntax--variable.syntax--other.syntax--readwrite.syntax--instance.syntax--coffee {
  color: #9DF39F;
}

.syntax--meta.syntax--brace.syntax--round.syntax--coffee, .syntax--meta.syntax--brace.syntax--square.syntax--coffee {
  color: #F6F080;
}

.syntax--punctuation.syntax--section.syntax--embedded.syntax--coffee {
  color: #4EE161;
}

.syntax--variable.syntax--assignment.syntax--coffee .syntax--variable.syntax--assignment.syntax--coffee {
  color: #F6F080;
}

.syntax--meta.syntax--delimiter.syntax--method.syntax--period.syntax--coffee {
  color: #FFA826;
}

.syntax--meta.syntax--brace.syntax--curly.syntax--coffee {
  color: #9DF39F;
}

.syntax--comment.syntax--block.syntax--coffee .syntax--storage.syntax--type.syntax--annotation.syntax--coffeescript {
  color: #7FD4F5;
}

.syntax--punctuation.syntax--definition.syntax--entry.syntax--yaml, .syntax--entity.syntax--name.syntax--tag.syntax--yaml {
  color: #F6F080;
}

.syntax--variable.syntax--other.syntax--readwrite.syntax--js, .syntax--variable.syntax--other.syntax--object.syntax--js {
  color: #F8F8F8;
}

.syntax--variable.syntax--function.syntax--js {
  color: #F6F080;
}

.syntax--source.syntax--js .syntax--punctuation.syntax--separator.syntax--key-value.syntax--js {
  color: #F8F8F8;
}

.syntax--constant.syntax--other.syntax--object.syntax--key.syntax--js .syntax--string.syntax--unquoted.syntax--label.syntax--js {
  color: #CCB3FF;
}

.syntax--variable.syntax--function.syntax--constructor.syntax--js {
  color: #FFDD33;
}

.syntax--source.syntax--json .syntax--meta.syntax--structure .syntax--string {
  color: #9DF39F;
}

.syntax--source.syntax--json .syntax--meta .syntax--meta.syntax--structure .syntax--string {
  color: #F6F080;
}

.syntax--source.syntax--json .syntax--meta .syntax--meta .syntax--meta.syntax--structure .syntax--string {
  color: #FFC266;
}

.syntax--source.syntax--json .syntax--meta .syntax--meta .syntax--meta .syntax--meta.syntax--structure .syntax--string {
  color: #FF7A9A;
}

.syntax--source.syntax--json .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta.syntax--structure .syntax--string {
  color: #CCB3FF;
}

.syntax--source.syntax--json .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta.syntax--structure .syntax--string {
  color: #7FD4F5;
}

.syntax--source.syntax--json .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta.syntax--structure .syntax--string {
  color: #FFDD33;
}

.syntax--source.syntax--json .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta .syntax--meta.syntax--structure .syntax--string {
  color: #FFA826;
}

.syntax--source.syntax--regexp .syntax--string {
  color: #F8F8F8;
}

.syntax--string.syntax--regexp .syntax--punctuation.syntax--definition.syntax--group {
  color: #F6F080;
}

.syntax--sublimelinter.syntax--mark.syntax--error {
  color: #D8290D;
}

.syntax--sublimelinter.syntax--gutter-mark {
  color: #7FD4F5;
}

.syntax--sublimelinter.syntax--mark.syntax--warning {
  color: #FFDD33;
}

.syntax--sublimelinter.syntax--underline.syntax--warning {
  background-color: rgba(255, 0, 0, 0.31);
}

.syntax--sublimelinter.syntax--outline.syntax--warning {
  background-color: rgba(223, 148, 0, 0.31);
}

.syntax--sublimelinter.syntax--outline.syntax--illegal {
  background-color: rgba(255, 74, 82, 0.31);
}

.syntax--sublimelinter.syntax--outline.syntax--violation {
  background-color: rgba(255, 255, 255, 0.2);
}

.syntax--sublimelinter.syntax--underline.syntax--violation {
  background-color: rgba(255, 0, 0, 0.31);
}

.syntax--sublimelinter.syntax--outline.syntax--notes {
  background-color: rgba(255, 255, 170, 0.31);
}

.syntax--sublimelinter.syntax--underline.syntax--illegal {
  background-color: rgba(255, 0, 0, 0.31);
}

.syntax--text .syntax--source {
  background-color: rgba(176, 179, 186, 0.08);
}

.syntax--text.syntax--html.syntax--ruby .syntax--source {
  background-color: rgba(177, 179, 186, 0.13);
}

.syntax--invalid {
  background-color: #D8290D;
}

.block_cursor {
  color: #F8F8F8;
  background-color: #FF5E00;
}
